.divMain-container {

    button {
        cursor: pointer;
    }

    .input-container {
        .add-btn {
            margin: 0 10px;
        }
    }

    .showList-container {
        width: 400px;
        margin: 0 auto;

        .todo-child {
            &:first-child {
                border-top: 1px solid grey;
                margin-top: 20px;
            }


            height : 40px;
            border-bottom: 1px solid grey;
            margin : 10px;

            .edit {
                margin: 0 5px;
            }
        }


    }


}